<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
      </h1>

      <!-- Blog Post -->
      <div *ngFor="let article of articles" class="row">
        <div class="card mb-4">
          <img class=" ImageTaille" src="http://localhost:3000/article/getImage/{{article.ArticleImage}}" alt=""
            alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{article.titre}} | Type : {{article.type}}</h2>
            <p class="card-text">{{article.contenue}}</p>
            <p class="text">{{article.date}} </p>
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="btn btn-primary">Read More &rarr;</a>

              </div>
              <div *ngIf="userService.connectedUser._id === article.owner._id">
                <div class="offset-5 col-md-4" *ngIf="userService.connectedUser.role === 'Jornaliste'">
                  <a class="btn btn-info" data-toggle="modal" data-target="#article"
                    (click)="update(article)">Modifier</a>
                  <div class="modal fade" id="article" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Modifier Article<Article></Article>
                          </h5>

                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form class="form-horizontal" role="form" [formGroup]="formArticleModifer">
                            <!-- Text input-->
                            <div class="form-group">
                              <label class="col-sm-3 control-label" for="textinput">Titre</label>
                              <div class="col-sm-10">
                                <input type="text" formControlName="titre" placeholder="Titre Article"
                                  class="form-control">
                              </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                              <label class="col-sm-3 control-label" for="textinput">Contenue</label>
                              <div class="col-sm-10">
                                <input type="text" formControlName="contenue" placeholder="Contenue Article"
                                  class="form-control">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlSelect1"> Type </label>
                              <div class="col-sm-10">
                                <select class="form-control" formControlName="type">
                                  <option>News</option>
                                  <option>Sport</option>
                                  <option>Technology</option>
                                  <option>Bisness</option>
                                  <option>Fashion</option>
                                  <option>Food</option>
                                  <option>Culture</option>
                                </select>
                              </div>
                            </div>
                            <input type="file" class="form-control-file" (change)="UpdateImage($event.target.files)">

                          </form>
                        </div>
                        <div class="modal-footer">
                          <div class="pull-right">
                            <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger "
                              (click)="updateArticle(formArticleModifer.value)" data-dismiss="modal">Modifier</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <a class="btn btn-danger " (click)="deleteArticle(article)">Delete</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <app-commentaire [idArticle]="article._id"></app-commentaire>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Pagination -->
      <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
          <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
          <a class="page-link" href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Sport</a>
                </li>
                <li>
                  <a href="#">News</a>
                </li>
                <li>
                  <a href="#">Bisness</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Technology</a>
                </li>
                <li>
                  <a href="#">Fashion</a>
                </li>
                <li>
                  <a href="#">Food</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Culture</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>



    </div>

  </div>
  <!-- /.row -->

</div>