<div id="user-profile-2" class="user-profile">
  <div class="tabbable">
    <ul class="nav nav-tabs padding-18">
      <li class="active">
        <a data-toggle="tab" href="#home">
          <i class="green ace-icon fa fa-user bigger-120"></i>
          Profile
        </a>
      </li>

      <li>
        <a data-toggle="tab" href="#feed">
          <i class="orange ace-icon fa fa-rss bigger-120"></i>
          Activity Feed
        </a>
      </li>
      <li class="active">
        <a data-toggle="tab" href="#Formulaire">
          <i class="green ace-icon fa fa-user bigger-120"></i>
          Ajoute article
        </a>
      </li>
    </ul>

    <div class="tab-content no-border padding-24">
      <div id="home" class="tab-pane in active">
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <h4 class="blue">
              <span class="middle"></span>

              <span class="label label-purple arrowed-in-right">
                <i class="ace-icon fa fa-circle smaller-80 align-middle"></i>
                online
              </span>
            </h4>

            <div class="profile-user-info">
              <div class="profile-info-row">
                <div class="profile-info-name"> Nom </div>

                <div class="profile-info-value">
                  <span> {{userService.connectedUser.nom}}</span>
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name"> Prenom </div>

                <div class="profile-info-value">
                  <span> {{userService.connectedUser.prenom}}</span>
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name"> Email </div>

                <div class="profile-info-value">
                  <span> {{userService.connectedUser.email}}</span>
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name"> Tel </div>
                <div class="profile-info-value">
                  <span> {{userService.connectedUser.Tel}}</span>

                </div>
              </div>

              <div class="profile-info-row">
                <div class="profile-info-name"> Date Naiss </div>
                <div class="profile-info-value">
                  <span> {{userService.connectedUser.DateNais}}</span>
                </div>
              </div>
              <div class="profile-info-row">
                <div class="profile-info-name"> Role </div>

                <div class="profile-info-value">
                  <span> {{userService.connectedUser.role}}</span>
                </div>
              </div>
            </div>

            <div class="hr hr-8 dotted"></div>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="space-20"></div>
        <div>
          <a class="btn btn-info" data-toggle="modal" data-target="#user" (click)="update(User)">Modifier</a>

          <div class="modal fade" id="user" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modifier User<Article></Article>
                  </h5>

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="form-horizontal" role="form" [formGroup]="EditUser">
                    <!-- Text input-->
                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="textinput">Nom</label>
                      <div class="col-sm-10">
                        <input type="text" formControlName="nom" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="textinput">Prenom</label>
                      <div class="col-sm-10">
                        <input type="text" formControlName="prenom" placeholder="" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="textinput">Email</label>
                      <div class="col-sm-10">
                        <input type="text" formControlName="email" placeholder="" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="textinput">Tel</label>
                      <div class="col-sm-10">
                        <input type="text" formControlName="Tel" placeholder=" " class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="textinput">DateNAiss</label>
                      <div class="col-sm-10">
                        <input type="text" formControlName="DateNais" placeholder="" class="form-control">
                      </div>
                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <div class="pull-right">
                    <button type="submit" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger " (click)="UpdateUser(EditUser.value)"
                      data-dismiss="modal">Modifier</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div><!-- /#home -->

      <div id="feed" class="tab-pane">
        <div class="profile-feed row">
          <div class="col-sm-6">
            <div class="profile-activity clearfix">
              <div>
                <img class="pull-left" alt="Alex Doe's avatar" src="http://bootdey.com/img/Content/avatar/avatar1.png">
                <a class="user" href="#"> Alex Doe </a>
                changed his profile photo.
                <a href="#">Take a look</a>

                <div class="time">
                  <i class="ace-icon fa fa-clock-o bigger-110"></i>
                  an hour ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="blue">
                  <i class="ace-icon fa fa-pencil bigger-125"></i>
                </a>

                <a href="#" class="red">
                  <i class="ace-icon fa fa-times bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <img class="pull-left" alt="Susan Smith's avatar"
                  src="http://bootdey.com/img/Content/avatar/avatar2.png">
                <a class="user" href="#"> Susan Smith </a>

                is now friends with Alex Doe.
                <div class="time">
                  <i class="ace-icon fa fa-clock-o bigger-110"></i>
                  2 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="blue">
                  <i class="ace-icon fa fa-pencil bigger-125"></i>
                </a>

                <a href="#" class="red">
                  <i class="ace-icon fa fa-times bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon fa fa-check btn-success no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>
                joined
                <a href="#">Country Music</a>

                group.
                <div class="time">
                  <i class="ace-icon fa fa-clock-o bigger-110"></i>
                  5 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="blue">
                  <i class="ace-icon fa fa-pencil bigger-125"></i>
                </a>

                <a href="#" class="red">
                  <i class="ace-icon fa fa-times bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon fa fa-picture-o btn-info no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>
                uploaded a new photo.
                <a href="#">Take a look</a>

                <div class="time">
                  <i class="ace-icon fa fa-clock-o bigger-110"></i>
                  5 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="blue">
                  <i class="ace-icon fa fa-pencil bigger-125"></i>
                </a>

                <a href="#" class="red">
                  <i class="ace-icon fa fa-times bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <img class="pull-left" alt="David Palms's avatar"
                  src="http://bootdey.com/img/Content/avatar/avatar3.png">
                <a class="user" href="#"> David Palms </a>

                left a comment on Alex's wall.
                <div class="time">
                  <i class="ace-icon fa fa-clock-o bigger-110"></i>
                  8 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="blue">
                  <i class="ace-icon fa fa-pencil bigger-125"></i>
                </a>

                <a href="#" class="red">
                  <i class="ace-icon fa fa-times bigger-125"></i>
                </a>
              </div>
            </div>
          </div><!-- /.col -->

          <div class="col-sm-6">
            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon fa fa-pencil-square-o btn-pink no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>
                published a new blog post.
                <a href="#">Read now</a>

                <div class="time">
                  <i class="ace-icon fa fa-clock-o bigger-110"></i>
                  11 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="blue">
                  <i class="ace-icon fa fa-pencil bigger-125"></i>
                </a>

                <a href="#" class="red">
                  <i class="ace-icon fa fa-times bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <img class="pull-left" alt="Alex Doe's avatar" src="http://bootdey.com/img/Content/avatar/avatar4.png">
                <a class="user" href="#"> Alex Doe </a>

                upgraded his skills.
                <div class="time">
                  <i class="ace-icon fa fa-clock-o bigger-110"></i>
                  12 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="blue">
                  <i class="ace-icon fa fa-pencil bigger-125"></i>
                </a>

                <a href="#" class="red">
                  <i class="ace-icon fa fa-times bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>

                logged in.
                <div class="time">
                  <i class="ace-icon fa fa-clock-o bigger-110"></i>
                  12 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="blue">
                  <i class="ace-icon fa fa-pencil bigger-125"></i>
                </a>

                <a href="#" class="red">
                  <i class="ace-icon fa fa-times bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon fa fa-power-off btn-inverse no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>

                logged out.
                <div class="time">
                  <i class="ace-icon fa fa-clock-o bigger-110"></i>
                  16 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="blue">
                  <i class="ace-icon fa fa-pencil bigger-125"></i>
                </a>

                <a href="#" class="red">
                  <i class="ace-icon fa fa-times bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon fa fa-key btn-info no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>

                logged in.
                <div class="time">
                  <i class="ace-icon fa fa-clock-o bigger-110"></i>
                  16 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="blue">
                  <i class="ace-icon fa fa-pencil bigger-125"></i>
                </a>

                <a href="#" class="red">
                  <i class="ace-icon fa fa-times bigger-125"></i>
                </a>
              </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="space-12"></div>

        <div class="center">
          <button type="button" class="btn btn-sm btn-primary btn-white btn-round">
            <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
            <span class="bigger-110">View more activities</span>

            <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
          </button>
        </div>
      </div><!-- /#feed -->
      <form id="Formulaire" [formGroup]="AjoutForm" class="tab-pane">
        <div class="col-sm-6">

          <div class="form-group">
            <label for="exampleFormControlInput1">Titre</label>
            <input type="text" class="form-control" formControlName="titre" placeholder="titre">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1"> select type </label>
            <select class="form-control" formControlName="type">
              <option>News</option>
              <option>Sport</option>
              <option>Technology</option>
              <option>Bisness</option>
              <option>Fashion</option>
              <option>Food</option>
              <option>Culture</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1"> choisir image</label>
            <input type="file" class="form-control-file" (change)="handleFileInput($event.target.files)">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" formControlName="contenue" rows="5"></textarea>
          </div>
        </div>
        <button type="button" (click)="createArticle()" class="btn btn-success">Ajouter</button>

      </form>


    </div>
  </div>
</div>